.portfolio-main {
    text-align: center;
}
.loading,
.user-not-exist {
    font-size: 50px;
}
.loading,
.user-not-exist,
.portfolio-contents {
    display: block;
    max-width: 80%;
    margin: 30px auto 0 auto;
    text-align: center;
}
